body {
    display: grid;
    place-items: center;
}

#app {
    animation-delay: 200ms;
    animation: fade-in 250ms ease-in-out;
}

#app__options {
    display: flex;
    justify-content: space-between;
}

#app__options select,
#app__options button {
    display: block;
    border-radius: 0;
    outline: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid #000;
    border-bottom: none;
    padding: 4px;
}

#app__options button {
    padding: 4px 8px;
    cursor: pointer;
}

#app canvas {
    border: 1px solid #000;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
